wrapper{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	background-color: #EAEAEA;
	font-family: Arial, Helvetica, sans-serif;
}
header { 
	background-color: #CCCCFF;
	 font-family: "Times New Roman", Times, serif;
}
h1 {
	margin: 0;
	padding: 10px;
}
nav { 
	float: left; width: 90px;
	padding: 10px; 
}
main { margin-left: 100px;
	padding: 10px;
	background-color:  #FFFFFF;
}
footer { 
	text-align: center;
	font-style: italic;
	background-color: #CCCCFF;
 }
 
 nav ul{
	list-style-type:none;
	padding-left: 0;
}

@media only screen and (max-width: 10810px){
	*{color: green;}
}
@media only screen and (min-width: 720px){
	*{color: red;} /* runs on pc*/
}
@media only screen and (max-width: 1080px){
	*{color: yellow;}
}
